<div class="mt-5">
  <div class="text-center">
    <div *ngIf="!selectedMovie" class="spinner-border" role="status"></div>
  </div>


  <div *ngIf="selectedMovie" class="mx-auto">
    <div class="text-center">
      <h2>{{selectedMovie.title}}</h2>
    </div>
    <div class="col-md-8 container mt-5">
      <div class="container mt-4">
        <h6>Producer:</h6>
        <p>{{selectedMovie.producer}}</p>
      </div>
      <div class="container mt-4">
        <h6>Director:</h6>
        <p>{{selectedMovie.director}}</p>
      </div>
      <div class="container mt-4">
        <h6>Release date:</h6>
        <p>{{selectedMovie.released}}</p>
      </div>
      <div class="container mt-4">
        <h6>Opening crawl:</h6>
        <p>{{selectedMovie.crawl}}</p>
      </div>
      <div class="container mt-4">
        <h6>Movie characters:</h6>
        <div *ngIf="characters" class="p-2">
          <div *ngFor="let character of characters; let i = index" [attr.data-index]="i">
            <a routerLink="/character/{{character.id}}">{{character.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
