<div class="mt-5">
  <div class="text-center">
    <div *ngIf="!selectedCharacter" class="spinner-border" role="status"></div>
  </div>


  <div *ngIf="selectedCharacter" class="mx-auto">
    <div class="text-center">
      <h2>{{selectedCharacter.name}}</h2>
    </div>
    <div class="col-md-8 container mt-5">
      <div class="container mt-4">
        <h6>Height:</h6>
        <p>{{selectedCharacter.height}}</p>
      </div>
      <div class="container mt-4">
        <h6>Mass:</h6>
        <p>{{selectedCharacter.mass}}</p>
      </div>
      <div class="container mt-4">
        <h6>Birth date:</h6>
        <p>{{selectedCharacter.born}}</p>
      </div>
      <div class="container mt-4">
        <h6>Gender:</h6>
        <p>{{selectedCharacter.gender}}</p>
      </div>
      <div class="container mt-4">
        <h6>Seen in movies:</h6>
        <div *ngIf="movies" class="p-2">
          <div *ngFor="let movie of movies; let i = index" [attr.data-index]="i">
            <a routerLink="/movie/{{movie.id}}">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
