<div class="mt-5">
    <div class="text-center">
      <div *ngIf="numOfMovies === 0" class="spinner-border" role="status">
    </div>
  <div class="row mx-auto">
    <div class="col-md-8 container">
      <div *ngIf="numOfMovies !== 0" class="container">
        <div class="text-center">
          <h2>Movie List</h2>
        </div>

        <div *ngFor="let movie of MovieList; let i = index" [attr.data-index]="i">
          <div class="text-center">
            <div class='p-2 bg-light border'>
              <a routerLink="/movie/{{movie.id}}">{{movie.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
